<a href="https://colab.research.google.com/github/codesongs/codestates_TP2/blob/main/%5BO%5D_230830_AIB_recsys_b_k.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# surprise 라이브러리 설치
!pip install scikit-surprise

Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.10/dist-packages (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.3.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.10.1)

In [ ]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, accuracy

import warnings; warnings.simplefilter('ignore')

## 1. 단순추천시스템

In [ ]:
md = pd.read_csv('b_k_mov_rat.csv')
md = md[['MovieID', 'title', 'year', 'id', 'genres', 'popularity',
       'overview', 'tagline', 'b_vote_average', 'b_vote_count', 'cast', 'crew',
       'keywords']]
md.head()

,MovieID,title,year,id,genres,popularity,overview,tagline,b_vote_average,b_vote_count,cast,crew,keywords
0,1,Toy Story,1995,862.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,"Led by Woody, Andy's toys live happily in his ...",0,4.146846,2077.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,2,Jumanji,1995,8844.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.015539,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,3.201141,701.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,3,Grumpier Old Men,1995,15602.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",11.712900,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,3.016736,478.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,4,Waiting to Exhale,1995,31357.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.859495,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,2.729412,170.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,5,Father of the Bride Part II,1995,11862.0,"[{'id': 35, 'name': 'Comedy'}]",8.387519,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,3.006757,296.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [ ]:
md.rename(columns={'b_vote_average': 'vote_average'}, inplace=True)
md.rename(columns={'b_vote_count': 'vote_count'}, inplace=True)

In [ ]:
md.columns

Index(['MovieID', 'title', 'year', 'id', 'genres', 'popularity', 'overview',
       'tagline', 'vote_average', 'vote_count', 'cast', 'crew', 'keywords'],
      dtype='object')

In [ ]:
print('////////////////////// Before ////////////////////// \n', md['genres'].head(), '\n////////////////////// Before //////////////////////')

# dictionary안에 담겨있는 Genre 정보를 List 형태로 세팅
# 1. md['genres'].fillna('[]') : genres 컬럼에 null 값을 '[](빈 리스트 값)'으로 채워넣음
# 2. apply(literal_eval) : literal_eval를 사용하여 String으로 되어있는 값을 List & Dictionary로 사용할 수 있게 변환
# 3. apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else []) : x가 list인 경우 안에 들어있는 dictionary 중 name에 해당하는 값을 list에 담음
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

print('////////////////////// After ////////////////////// \n', md['genres'].head(), '\n////////////////////// After //////////////////////')

////////////////////// Before //////////////////////
 0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object
////////////////////// Before //////////////////////
////////////////////// After //////////////////////
 0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genres, dtype: object
////////////////////// After //////////////////////

In [ ]:
print('vote ::: \n', md[['vote_count', 'vote_average']].head())
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

vote :::
    vote_count  vote_average
0      2077.0      4.146846
1       701.0      3.201141
2       478.0      3.016736
3       170.0      2.729412
4       296.0      3.006757

2.762277388019428

In [ ]:
# 총 영화 중 상위 5%
print(vote_counts.sort_values(ascending=False)[2273:2274])

# quantile는 데이터를 크기대로 정렬하였을 때 분위수를 구하는 함수. quantile(0.95)는 상위 5%에 해당하는 값을 찾는 것
m = vote_counts.quantile(0.95)
m

2350    69
Name: vote_count, dtype: int64

1051.5

In [ ]:
qualified = md

In [ ]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [ ]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [ ]:
# Weighted Rating 상위 250개의 영화
qualified = qualified.sort_values('wr', ascending=False).head(250)

**Top Movies**

In [ ]:
qualified.head(15)

,MovieID,title,year,id,genres,popularity,overview,tagline,vote_average,vote_count,cast,crew,keywords,wr
257,260,Star Wars: Episode IV - A New Hope,1977,NaN,[],NaN,NaN,NaN,4.453694,2991.0,NaN,NaN,NaN,4.013738
315,318,"Shawshank Redemption, The",1994,NaN,[],NaN,NaN,NaN,4.554558,2227.0,NaN,NaN,NaN,3.979727
1180,1198,Raiders of the Lost Ark,1981,85.0,"[Adventure, Action]",19.901576,When Dr. Indiana Jones – the tweed-suited prof...,Indiana Jones - the new hero from the creators...,4.477725,2514.0,"[{'cast_id': 2, 'character': 'Indy', 'credit_i...","[{'credit_id': '52fe4215c3a36847f8002a5b', 'de...","[{'id': 83, 'name': 'saving the world'}, {'id'...",3.971823
523,527,Schindler's List,1993,424.0,"[Drama, History, War]",41.725123,The true story of how businessman Oskar Schind...,"Whoever saves one life, saves the world entire.",4.510417,2304.0,"[{'cast_id': 14, 'character': 'Oskar Schindler...","[{'credit_id': '52fe4241c3a36847f801024d', 'de...","[{'id': 1382, 'name': 'factory'}, {'id': 1631,...",3.962609
847,858,"Godfather, The",1972,NaN,[],NaN,NaN,NaN,4.524966,2223.0,NaN,NaN,NaN,3.958936
2789,2858,American Beauty,1999,14.0,[Drama],20.726578,"Lester Burnham, a depressed suburban father in...",Look closer.,4.317386,3428.0,"[{'cast_id': 6, 'character': 'Lester Burnham',...","[{'credit_id': '52fe420ec3a36847f80007c5', 'de...","[{'id': 255, 'name': 'male nudity'}, {'id': 29...",3.952346
2693,2762,"Sixth Sense, The",1999,NaN,[],NaN,NaN,NaN,4.406263,2459.0,NaN,NaN,NaN,3.913840
1178,1196,Star Wars: Episode V - The Empire Strikes Back,1980,NaN,[],NaN,NaN,NaN,4.292977,2990.0,NaN,NaN,NaN,3.894726
589,593,"Silence of the Lambs, The",1991,NaN,[],NaN,NaN,NaN,4.351823,2578.0,NaN,NaN,NaN,3.891317
1959,2028,Saving Private Ryan,1998,857.0,"[Drama, History, War]",21.758054,"As U.S. troops storm the beaches of Normandy, ...",The mission is a man.,4.337354,2653.0,"[{'cast_id': 10, 'character': 'Captain John H....","[{'credit_id': '52fe4283c3a36847f8024abb', 'de...","[{'id': 1327, 'name': 'war crimes'}, {'id': 14...",3.890278
2502,2571,"Matrix, The",1999,NaN,[],NaN,NaN,NaN,4.315830,2590.0,NaN,NaN,NaN,3.867235
49,50,"Usual Suspects, The",1995,NaN,[],NaN,NaN,NaN,4.517106,1783.0,NaN,NaN,NaN,3.866126
1179,1197,"Princess Bride, The",1987,NaN,[],NaN,NaN,NaN,4.303710,2318.0,NaN,NaN,NaN,3.822684
604,608,Fargo,1996,275.0,"[Crime, Drama, Thriller]",12.614690,"Jerry, a small-town Minnesota car salesman is ...",A lot can happen in the middle of nowhere.,4.254676,2513.0,"[{'cast_id': 7, 'character': 'Jerry Lundegaard...","[{'credit_id': '52fe4231c3a36847f800af4d', 'de...","[{'id': 1332, 'name': 'cheating'}, {'id': 1336...",3.814430
108,110,Braveheart,1995,197.0,"[Action, Drama, History, War]",20.755149,"Enraged at the slaughter of Murron, his new br...",Every man dies. Not every man truly lives.,4.234957,2443.0,"[{'cast_id': 5, 'character': 'William Wallace'...","[{'credit_id': '52fe4225c3a36847f80079c1', 'de...","[{'id': 30, 'name': 'individual'}, {'id': 388,...",3.791826

In [ ]:
# stack() : stack이 (위에서 아래로 길게, 높게) 쌓는 것이면, unstack은 쌓은 것을 옆으로 늘어놓는것(왼쪽에서 오른쪽으로 넓게) 라고 연상이 될 것
# reset_index() : 기존의 행 인덱스를 제거하고 인덱스를 데이터 열로 추가
s = md.apply(lambda x: pd.Series(x['genres']), axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
print(s.head(10))

gen_md = md.drop('genres', axis=1).join(s)
print(gen_md.head(10))

0    Animation
0       Comedy
0       Family
1    Adventure
1      Fantasy
1       Family
2      Romance
2       Comedy
3       Comedy
3        Drama
Name: genre, dtype: object
   MovieID              title  year       id  popularity  \
0        1          Toy Story  1995    862.0   21.946943
0        1          Toy Story  1995    862.0   21.946943
0        1          Toy Story  1995    862.0   21.946943
1        2            Jumanji  1995   8844.0   17.015539
1        2            Jumanji  1995   8844.0   17.015539
1        2            Jumanji  1995   8844.0   17.015539
2        3   Grumpier Old Men  1995  15602.0   11.712900
2        3   Grumpier Old Men  1995  15602.0   11.712900
3        4  Waiting to Exhale  1995  31357.0    3.859495
3        4  Waiting to Exhale  1995  31357.0    3.859495

                                            overview  \
0  Led by Woody, Andy's toys live happily in his ...
0  Led by Woody, Andy's toys live happily in his ...
0  Led by Woody, Andy's toys live happily in his ...
1  When siblings Judy and Peter discover an encha...
1  When siblings Judy and Peter discover an encha...
1  When siblings Judy and Peter discover an encha...
2  A family wedding reignites the ancient feud be...
2  A family wedding reignites the ancient feud be...
3  Cheated on, mistreated and stepped on, the wom...
3  Cheated on, mistreated and stepped on, the wom...

                                             tagline  vote_average  \
0                                                  0      4.146846
0                                                  0      4.146846
0                                                  0      4.146846
1          Roll the dice and unleash the excitement!      3.201141
1          Roll the dice and unleash the excitement!      3.201141
1          Roll the dice and unleash the excitement!      3.201141
2  Still Yelling. Still Fighting. Still Ready for...      3.016736
2  Still Yelling. Still Fighting. Still Ready for...      3.016736
3  Friends are the people who let you be yourself...      2.729412
3  Friends are the people who let you be yourself...      2.729412

   vote_count                                               cast  \
0      2077.0  [{'cast_id': 14, 'character': 'Woody (voice)',...
0      2077.0  [{'cast_id': 14, 'character': 'Woody (voice)',...
0      2077.0  [{'cast_id': 14, 'character': 'Woody (voice)',...
1       701.0  [{'cast_id': 1, 'character': 'Alan Parrish', '...
1       701.0  [{'cast_id': 1, 'character': 'Alan Parrish', '...
1       701.0  [{'cast_id': 1, 'character': 'Alan Parrish', '...
2       478.0  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
2       478.0  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3       170.0  [{'cast_id': 1, 'character': "Savannah 'Vannah...
3       170.0  [{'cast_id': 1, 'character': "Savannah 'Vannah...

                                                crew  \
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...
3  [{'credit_id': '52fe44779251416c91011acb', 'de...
3  [{'credit_id': '52fe44779251416c91011acb', 'de...

                                            keywords        wr      genre
0  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...  3.681488  Animation
0  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...  3.681488     Comedy
0  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...  3.681488     Family
1  [{'id': 10090, 'name': 'board game'}, {'id': 1...  2.937823  Adventure
1  [{'id': 10090, 'name': 'board game'}, {'id': 1...  2.937823    Fantasy
1  [{'id': 10090, 'name': 'board game'}, {'id': 1...  2.937823     Family
2  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...  2.841801    Romance
2  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...  2.841801     Comedy
3  [{'id': 818, 'name': 'based on novel'}, {'id':...  2.757703     Comedy
3  [{'id': 818, 'name': 'based on novel'}, {'id':...  2.757703      Drama

In [ ]:
def build_chart(genre, percentile=0.85):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)

    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title','year','vote_count','vote_average','popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')

    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)

    return qualified

**Top Romance Movies**

In [ ]:
build_chart('Romance').head(15)

,title,year,vote_count,vote_average,popularity,wr
2327,Shakespeare in Love,1998,2369,4,13.813155,3.795626
352,Forrest Gump,1994,2194,4,48.307194,3.782350
900,Casablanca,1942,1669,4,13.916101,3.729669
1287,When Harry Met Sally...,1989,1568,4,8.343220,3.716466
1211,Annie Hall,1977,1334,4,18.146043,3.680290
2179,Say Anything...,1989,914,4,6.953646,3.585326
891,Vertigo,1958,905,4,18.208220,3.582670
16,Sense and Sensibility,1995,835,4,10.673167,3.560788
898,Some Like It Hot,1959,832,4,11.845107,3.559798
887,Singin' in the Rain,1952,751,4,11.064858,3.531296
1224,Manhattan,1979,718,4,12.050759,3.518597
1216,Harold and Maude,1971,697,4,10.878112,3.510151
493,Much Ado About Nothing,1993,667,4,8.627240,3.497559
902,My Fair Lady,1964,636,4,12.494394,3.483848
790,Lone Star,1996,630,4,9.069963,3.481107

평가지표 (Ndcg, Recall)

In [ ]:
import numpy as np

def calculate_ndcg(predictions, k=10):
    actual_scores = np.array(predictions['vote_average'])
    predicted_scores = np.array(predictions['wr'])

    sorted_actual_scores = np.sort(actual_scores)[::-1]
    sorted_predicted_scores = predicted_scores[np.argsort(actual_scores)[::-1]]

    dcg = np.sum((2**sorted_actual_scores - 1) / np.log2(np.arange(2, k + 2)))
    idcg = np.sum((2**sorted_actual_scores - 1) / np.log2(np.arange(2, k + 2)))

    ndcg = dcg / idcg if idcg > 0 else 0
    return ndcg

def calculate_recall(predictions, threshold=7.0):
    true_positives = len(predictions[predictions['vote_average'] >= threshold])
    total_positives = len(predictions)

    recall = true_positives / total_positives if total_positives > 0 else 0
    return recall

# 예시: 상위 10개 영화에 대한 NDCG 및 Recall 계산
top_10_predictions = qualified.head(10)
ndcg_10 = calculate_ndcg(top_10_predictions, k=10)
recall_10 = calculate_recall(top_10_predictions, threshold=7.0)

print("NDCG@10:", ndcg_10)
print("Recall@10:", recall_10)

NDCG@10: 1.0
Recall@10: 0.0

##2. 콘텐츠 기반 추천(Content Based Recommender)

In [ ]:
import pandas as pd

In [ ]:
df_cbrmd = pd.read_csv('b_k_mov_rat.csv')
df_cbrmd.head()

,MovieID,title,year,Genres,id,genres,popularity,overview,tagline,b_vote_average,b_vote_count,cast,crew,keywords
0,1,Toy Story,1995,Animation|Children's|Comedy,862.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,"Led by Woody, Andy's toys live happily in his ...",0,4.146846,2077.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,2,Jumanji,1995,Adventure|Children's|Fantasy,8844.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.015539,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,3.201141,701.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,3,Grumpier Old Men,1995,Comedy|Romance,15602.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",11.712900,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,3.016736,478.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,4,Waiting to Exhale,1995,Comedy|Drama,31357.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.859495,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,2.729412,170.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,5,Father of the Bride Part II,1995,Comedy,11862.0,"[{'id': 35, 'name': 'Comedy'}]",8.387519,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,3.006757,296.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [ ]:
# 전처리
# overview의 결측치가 있는 항목은 모두 제거
df_cbrmd = df_cbrmd[df_cbrmd['overview'].notnull()].reset_index(drop=True)
df_cbrmd.shape

(2670, 14)

In [ ]:
# 불용어 : 유의미하지 않은 단어 토큰을 제거
# https://wikidocs.net/22530
# tfidf = TfidfVectorizer(stop_words='english')
tfidf = TfidfVectorizer(stop_words='english')

# overview에 대해서 tf-idf 수행
tfidf_matrix = tfidf.fit_transform(df_cbrmd['overview'])
print(tfidf_matrix.shape)

(2670, 15952)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_matrix = cosine_similarity(tfidf_matrix, tfidf_matrix)

# 만일 여기서 메모리 에러가 발생하신 분은 TF-IDF의 파라미터를 수정해줘서 다시 돌리면 됩니다.
# tfidf = TfidfVectorizer(stop_words='english', max_features=10000)

# 그래도, 안되는 경우에는 문서의 수를 조금 줄여서 실행해보시길 바랍니다.
# data = data.loc[0:10000].reset_index(drop=True)

In [ ]:
np.round(cosine_matrix, 4)

array([[1.    , 0.0185, 0.    , ..., 0.    , 0.    , 0.    ],
       [0.0185, 1.    , 0.0458, ..., 0.    , 0.    , 0.    ],
       [0.    , 0.0458, 1.    , ..., 0.    , 0.    , 0.0119],
       ...,
       [0.    , 0.    , 0.    , ..., 1.    , 0.    , 0.0202],
       [0.    , 0.    , 0.    , ..., 0.    , 1.    , 0.    ],
       [0.    , 0.    , 0.0119, ..., 0.0202, 0.    , 1.    ]])

In [ ]:
# movie title와 id를 매핑할 dictionary를 생성해줍니다.
movie2id = {}
for i, c in enumerate(df_cbrmd['title']): movie2id[i] = c

# id와 movie title를 매핑할 dictionary를 생성해줍니다.
id2movie = {}
for i, c in movie2id.items(): id2movie[c] = i

In [ ]:
movie2id

{0: 'Toy Story',
 1: 'Jumanji',
 2: 'Grumpier Old Men',
 3: 'Waiting to Exhale',
 4: 'Father of the Bride Part II',
 5: 'Heat',
 6: 'Sabrina',
 7: 'Tom and Huck',
 8: 'Sudden Death',
 9: 'GoldenEye',
 10: 'Dracula: Dead and Loving It',
 11: 'Balto',
 12: 'Nixon',
 13: 'Cutthroat Island',
 14: 'Casino',
 15: 'Sense and Sensibility',
 16: 'Four Rooms',
 17: 'Ace Ventura: When Nature Calls',
 18: 'Money Train',
 19: 'Get Shorty',
 20: 'Copycat',
 21: 'Assassins',
 22: 'Powder',
 23: 'Leaving Las Vegas',
 24: 'Othello',
 25: 'Now and Then',
 26: 'Persuasion',
 27: 'Shanghai Triad',
 28: 'Dangerous Minds',
 29: 'Twelve Monkeys',
 30: 'Wings of Courage',
 31: 'Babe',
 32: 'Carrington',
 33: 'Dead Man Walking',
 34: 'Across the Sea of Time',
 35: 'It Takes Two',
 36: 'Clueless',
 37: 'Cry, the Beloved Country',
 38: 'Richard III',
 39: 'Dead Presidents',
 40: 'Restoration',
 41: 'Mortal Kombat',
 42: 'To Die For',
 43: 'Seven',
 44: 'Pocahontas',
 45: 'When Night Is Falling',
 46: 'Guardian Angel',
 47: 'Mighty Aphrodite',
 48: 'Lamerica',
 49: 'Georgia',
 50: 'Kids of the Round Table',
 51: 'Home for the Holidays',
 52: 'Eye for an Eye',
 53: "Mr. Holland's Opus",
 54: "Don't Be a Menace to South Central While Drinking Your Juice in the Hood",
 55: 'Bio-Dome',
 56: 'Lawnmower Man 2: Beyond Cyberspace',
 57: 'Two Bits',
 58: 'French Twist',
 59: 'Friday',
 60: 'From Dusk Till Dawn',
 61: 'Fair Game',
 62: 'Kicking and Screaming',
 63: 'Bed of Roses',
 64: 'Big Bully',
 65: 'Screamers',
 66: 'Nico Icon',
 67: "Antonia's Line",
 68: 'Once Upon a Time... When We Were Colored',
 69: 'Last Summer in the Hamptons',
 70: 'Angels and Insects',
 71: 'White Squall',
 72: 'Dunston Checks In',
 73: 'Black Sheep',
 74: 'Nick of Time',
 75: 'Mary Reilly',
 76: 'Vampire in Brooklyn',
 77: 'Beautiful Girls',
 78: 'Broken Arrow',
 79: 'Shopping',
 80: 'Heidi Fleiss: Hollywood Madam',
 81: 'City Hall',
 82: 'Bottle Rocket',
 83: 'Mr. Wrong',
 84: 'Unforgettable',
 85: 'Happy Gilmore',
 86: 'Nobody Loves Me',
 87: 'Muppet Treasure Island',
 88: 'Catwalk',
 89: 'Headless Body in Topless Bar',
 90: 'Braveheart',
 91: 'Taxi Driver',
 92: 'Rumble in the Bronx',
 93: 'Before and After',
 94: "Margaret's Museum",
 95: 'Happiness Is in the Field',
 96: 'Anne Frank Remembered',
 97: 'If Lucy Fell',
 98: 'Race the Sun',
 99: 'Boomerang',
 100: 'Chungking Express',
 101: "Jupiter's Wife",
 102: 'Pie in the Sky',
 103: 'Angela',
 104: 'Frankie Starlight',
 105: 'Jade',
 106: 'Nueba Yol',
 107: 'Sonic Outlaws',
 108: 'Down Periscope',
 109: 'From the Journals of Jean Seberg',
 110: 'Man of the Year',
 111: 'Target',
 112: 'Shadows',
 113: 'Bad Boys',
 114: 'Amateur',
 115: 'Apollo 13',
 116: 'Rob Roy',
 117: 'Batman Forever',
 118: 'Beyond Rangoon',
 119: 'Blue in the Face',
 120: 'Canadian Bacon',
 121: 'Casper',
 122: 'Clockers',
 123: 'Congo',
 124: 'Crimson Tide',
 125: 'Crumb',
 126: 'Desperado',
 127: 'Devil in a Blue Dress',
 128: 'Die Hard: With a Vengeance',
 129: 'Feast of July',
 130: 'First Knight',
 131: 'Hackers',
 132: 'Jeffrey',
 133: 'Johnny Mnemonic',
 134: 'Judge Dredd',
 135: 'Jury Duty',
 136: 'Kids',
 137: 'Living in Oblivion',
 138: 'Lord of Illusions',
 139: 'Love & Human Remains',
 140: 'Mad Love',
 141: 'Mallrats',
 142: 'Mighty Morphin Power Rangers: The Movie',
 143: 'Moonlight and Valentino',
 144: 'Mute Witness',
 145: 'Nadja',
 146: 'Nine Months',
 147: 'Party Girl',
 148: 'Reckless',
 149: 'Safe',
 150: 'Showgirls',
 151: 'Smoke',
 152: 'Something to Talk About',
 153: 'Species',
 154: 'Strange Days',
 155: 'Three Wishes',
 156: 'Total Eclipse',
 157: 'To Wong Foo, Thanks for Everything! Julie Newmar',
 158: 'Under Siege 2: Dark Territory',
 159: 'Unstrung Heroes',
 160: 'Unzipped',
 161: 'Waterworld',
 162: "White Man's Burden",
 163: 'Wild Bill',
 164: 'Bushwhacked',
 165: 'Before the Rain',
 166: 'Before Sunrise',
 167: 'Billy Madison',
 168: 'Boys on the Side',
 169: 'Castle Freak',
 170: 'Circle of Friends',
 171: 'Clerks',
 172: 'Don Juan DeMarco',
 173: 'Disclosure',
 174: 'Dream Man',
 175: 'Drop Zone',
 176: 'Destiny Turns on the Radio',
 177: 'Death and the Maiden',
 178: 'Dolores Claiborne',
 179: 'Eat Drink Man Woman',
 180: 'Exotica',
 181: 'Exit to Eden',
 182: 'Ed Wood',
 183: 'French Kiss',
 184: 'Forget Paris',
 185: 'Hideaway',
 186: 'Fluke',
 187: 'Gordy',
 188: 'Gumby: The Movie',
 189: 'Hoop Dreams',
 190: 'Heavenly Creatures',
 191: 'Houseguest',
 192: 'Immortal Beloved',
 193: 'Heavyweights',
 194: 'I.Q.',
 195: 'Interview with the Vampire',
 196: 'Jefferson in Paris',
 197: 'Junior',
 198: 'Just Cause',
 199: 'Kiss of Death',
 200: 'Little Women',
 201: 'Ladybird Ladybird',
 202: 'Like Water for Chocolate',
 203: 'Legends of the Fall',
 204: 'Major Payne',
 205: 'Little Odessa',
 206: 'Love Affair',
 207: 'Losing Isaiah',
 208: "Mary Shelley's Frankenstein",
 209: 'Man of the House',
 210: 'Mixed Nuts',
 211: 'Milk Money',
 212: 'Miracle on 34th Street',
 213: 'Miami Rhapsody',
 214: 'My Family',
 215: 'Murder in the First',
 216: "Nobody's Fool",
 217: 'Nell',
 218: 'New Jersey Drive',
 219: 'New York Cop',
 220: 'Beyond Bedlam',
 221: 'Nina Takes a Lover',
 222: 'Natural Born Killers',
 223: 'Only You',
 224: 'Once Were Warriors',
 225: 'Outbreak',
 226: 'Pulp Fiction',
 227: 'Panther',
 228: 'Pushing Hands',
 229: 'Priest',
 230: 'Quiz Show',
 231: 'Picture Bride',
 232: 'Queen Margot',
 233: 'Roommates',
 234: 'Three Colors: Red',
 235: 'Three Colors: Blue',
 236: 'Three Colors: White',
 237: 'Red Firecracker, Green Firecracker',
 238: 'Rent-a-Kid',
 239: 'Relative Fear',
 240: 'Stuart Saves His Family',
 241: 'Stargate',
 242: 'Shallow Grave',
 243: 'Suture',
 244: 'Strawberry and Chocolate',
 245: 'Swimming with Sharks',
 246: 'To Live',
 247: 'Tank Girl',
 248: 'Star Trek: Generations',
 249: 'Tales from the Hood',
 250: 'Tom & Viv',
 251: 'Village of the Damned',
 252: 'Tommy Boy',
 253: 'Vanya on 42nd Street',
 254: "What's Eating Gilbert Grape",
 255: 'Virtuosity',
 256: 'While You Were Sleeping',
 257: 'Double Happiness',
 258: "Muriel's Wedding",
 259: 'Ace Ventura: Pet Detective',
 260: 'Backbeat',
 261: 'Bitter Moon',
 262: 'Bullets Over Broadway',
 263: 'Clear and Present Danger',
 264: 'Corrina, Corrina',
 265: 'Crooklyn',
 266: 'Cobb',
 267: 'Forrest Gump',
 268: 'Four Weddings and a Funeral',
 269: 'Higher Learning',
 270: 'I Like It Like That',
 271: 'I Love Trouble',
 272: 'It Could Happen to You',
 273: 'Little Buddha',
 274: 'Maverick',
 275: 'Mrs. Parker and the Vicious Circle',
 276: 'Reality Bites',
 277: 'Red Rock West',
 278: 'Safe Passage',
 279: 'Speed',
 280: 'Speechless',
 281: 'Timecop',
 282: 'True Lies',
 283: 'When a Man Loves a Woman',
 284: 'Wolf',
 285: 'Wyatt Earp',
 286: 'Bad Company',
 287: 'S.F.W.',
 288: "Jason's Lyric",
 289: 'Street Fighter',
 290: 'Coldblooded',
 291: 'Desert Winds',
 292: 'Fall Time',
 293: 'Frank and Ollie',
 294: 'Girl in the Cadillac',
 295: 'Homage',
 296: 'Mirage',
 297: 'Open Season',
 298: 'Brother Minister: The Assassination of Malcolm X',
 299: 'Federal Hill',
 300: 'In the Mouth of Madness',
 301: '8 Seconds',
 302: 'Above the Rim',
 303: 'Addams Family Values',
 304: 'Airheads',
 305: 'Another Stakeout',
 306: 'Bad Girls',
 307: 'Barcelona',
 308: 'Being Human',
 309: 'Beverly Hills Cop III',
 310: 'Black Beauty',
 311: 'Blink',
 312: 'Blown Away',
 313: 'Blue Chips',
 314: 'Blue Sky',
 315: 'Body Snatchers',
 316: 'Boxing Helena',
 317: 'Cabin Boy',
 318: 'Calendar Girl',
 319: "Carlito's Way",
 320: "City Slickers II: The Legend of Curly's Gold",
 321: 'Clean Slate',
 322: 'Cliffhanger',
 323: 'Coneheads',
 324: 'Color of Night',
 325: 'Dangerous Game',
 326: 'Dave',
 327: 'Dazed and Confused',
 328: 'Demolition Man',
 329: 'Even Cowgirls Get the Blues',
 330: 'Fatal Instinct',
 331: 'Farewell My Concubine',
 332: 'Fearless',
 333: 'Fear of a Black Hat',
 334: 'With Honors',
 335: 'Flesh and Bone',
 336: "Widows' Peak",
 337: 'For Love or Money',
 338: 'Free Willy',
 339: 'Fresh',
 340: 'Geronimo: An American Legend',
 341: 'Getting Even with Dad',
 342: 'Go Fish',
 343: 'Guilty as Sin',
 344: 'Hard Target',
 345: 'Heaven & Earth',
 346: 'Hot Shots! Part Deux',
 347: 'Live Nude Girls',
 348: 'House Party 3',
 349: "I'll Do Anything",
 350: 'In the Army Now',
 351: 'In the Line of Fire',
 352: 'In the Name of the Father',
 353: 'Jimmy Hollywood',
 354: 'Judgment Night',
 355: 'Jurassic Park',
 356: 'Kalifornia',
 357: 'Killing Zoe',
 358: 'King of the Hill',
 359: 'Lassie',
 360: 'Last Action Hero',
 361: 'Lightning Jack',
 362: 'M. Butterfly',
 363: 'Made in America',
 364: 'Malice',
 365: 'Manhattan Murder Mystery',
 366: 'Menace II Society',
 367: 'Executive Decision',
 368: 'In the Realm of the Senses',
 369: 'What Happened Was...',
 370: 'Much Ado About Nothing',
 371: 'Mr. Jones',
 372: 'Mr. Wonderful',
 373: 'Mrs. Doubtfire',
 374: 'Naked',
 375: 'No Escape',
 376: 'North',
 377: 'Orlando',
 378: 'Philadelphia',
 379: 'Poetic Justice',
 380: 'Radioland Murders',
 381: 'Renaissance Man',
 382: 'Rising Sun',
 383: 'Robin Hood: Men in Tights',
 384: 'Romeo Is Bleeding',
 385: 'Romper Stomper',
 386: 'Ruby in Paradise',
 387: 'Rudy',
 388: 'Savage Nights',
 389: "Schindler's List",
 390: 'Searching for Bobby Fischer',
 391: 'Second Best',
 392: 'Serial Mom',
 393: 'Shadowlands',
 394: 'Short Cuts',
 395: 'Sirens',
 396: 'Six Degrees of Separation',
 397: 'Sleepless in Seattle',
 398: 'Sliver',
 399: 'Blade Runner',
 400: 'Son in Law',
 401: 'So I Married an Axe Murderer',
 402: 'Striking Distance',
 403: 'Super Mario Bros.',
 404: 'Surviving the Game',
 405: 'Terminal Velocity',
 406: 'Threesome',
 407: 'Tombstone',
 408: 'Trial by Jury',
 409: 'True Romance',
 410: 'Mamma Roma',
 411: 'Paris, France',
 412: 'Killer',
 413: 'Welcome to the Dollhouse',
 414: 'Germinal',
 415: 'Chasers',
 416: 'Cronos',
 417: 'Naked in New York',
 418: 'Kika',
 419: 'Bhaji on the Beach',
 420: 'Little Big League',
 421: 'Foreign Student',
 422: 'Ciao, Professore!',
 423: 'Spanking the Monkey',
 424: 'Andre',
 425: 'Princess Caraboo',
 426: 'Dear Diary',
 427: "I Don't Want to Talk About It",
 428: 'Home Alone',
 429: 'Ghost',
 430: 'Aladdin',
 431: 'Terminator 2: Judgment Day',
 432: 'Dances with Wolves',
 433: 'Tough and Deadly',
 434: 'Batman',
 435: 'Snow White and the Seven Dwarfs',
 436: 'Beauty and the Beast',
 437: 'Pinocchio',
 438: 'Pretty Woman',
 439: 'Window to Paris',
 440: 'Love and a .45',
 441: 'One Fine Day',
 442: 'Candyman: Farewell to the Flesh',
 443: 'Century',
 444: 'Fargo',
 445: 'Homeward Bound II: Lost in San Francisco',
 446: 'Heavy Metal',
 447: 'Hellraiser: Bloodline',
 448: 'Jane Eyre',
 449: 'Loaded',
 450: 'Bread and Chocolate',
 451: 'Two Much',
 452: 'Ed',
 453: 'Scream of Stone',
 454: 'My Favorite Season',
 455: 'Condition Red',
 456: 'Primal Fear',
 457: 'Rude',
 458: 'Carried Away',
 459: 'All Dogs Go to Heaven 2',
 460: 'Land and Freedom',
 461: 'Denise Calls Up',
 462: 'Theodore Rex',
 463: 'Frisk',
 464: 'Sgt. Bilko',
 465: 'Girl 6',
 466: 'Diabolique',
 467: 'Little Indian, Big City',
 468: 'Roula',
 469: 'Happy Weekend',
 470: 'Courage Under Fire',
 471: 'Mission: Impossible',
 472: 'Cold Fever',
 473: 'Moll Flanders',
 474: '301, 302',
 475: 'Und keiner weint mir nach',
 476: 'Eddie',
 477: 'Yankee Zulu',
 478: "Billy's Holiday",
 479: 'Purple Noon',
 480: 'August',
 481: 'James and the Giant Peach',
 482: 'Fear',
 483: 'Kids in the Hall: Brain Candy',
 484: 'Faithful',
 485: 'Underground',
 486: 'All Things Fair',
 487: 'Pather Panchali',
 488: 'Aparajito',
 489: 'Mystery Science Theater 3000: The Movie',
 490: 'Tarantella',
 491: 'Space Jam',
 492: 'Barbarella',
 493: 'Hostile Intentions',
 494: 'They Bite',
 495: 'Some Folks Call It a Sling Blade',
 496: 'Alphaville',
 497: 'Clean Slate',
 498: 'Tigrero: A Film That Was Never Made',
 499: 'Windows',
 500: "It's My Party",
 501: 'Country Life',
 502: 'Operation Dumbo Drop',
 503: 'Mrs. Winterbourne',
 504: 'Solo',
 505: 'True Crime',
 506: 'Butterfly Kiss',
 507: 'Feeling Minnesota',
 508: 'Delta of Venus',
 509: 'To Cross the Rubicon',
 510: 'Angus',
 511: 'Faces',
 512: 'Boys',
 513: 'Cosi',
 514: 'Sunset Park',
 515: 'Mulholland Falls',
 516: 'Oliver & Company',
 517: 'Celtic Pride',
 518: 'Flipper',
 519: 'Captives',
 520: 'Of Love and Shadows',
 521: 'Dead Man',
 522: 'Switchblade Sisters',
 523: 'Mouth to Mouth',
 524: 'Multiplicity',
 525: 'Two Friends',
 526: 'Last Dance',
 527: 'Cold Comfort Farm',
 528: 'Institute Benjamenta, or This Dream People Call Human Life',
 529: "Heaven's Prisoners",
 530: 'Original Gangstas',
 531: 'Cemetery Man',
 532: 'Twister',
 533: 'Barb Wire',
 534: 'Ghost in the Shell',
 535: 'Thinner',
 536: 'Spy Hard',
 537: 'Brothers in Trouble',
 538: 'Force of Evil',
 539: 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 540: 'Careful',
 541: 'Gold Diggers: The Secret of Bear Mountain',
 542: 'Kim',
 543: 'Carmen Miranda: Bananas Is My Business',
 544: 'Ashes of Time',
 545: 'Maya Lin: A Strong Clear Vision',
 546: 'Stalingrad',
 547: 'Striptease',
 548: 'Heavy',
 549: 'Jack',
 550: 'I Shot Andy Warhol',
 551: "Someone Else's America",
 552: 'Quartier Mozart',
 553: 'Touki Bouki',
 554: 'Spirits of the Dead',
 555: 'Babyfever',
 556: 'Trainspotting',
 557: 'Independence Day',
 558: 'Stealing Beauty',
 559: 'Kingpin',
 560: 'Eraser',
 561: 'An Unforgettable Summer',
 562: 'My Life and Times With Antonin Artaud',
 563: 'Midnight Dancers',
 564: 'Somebody to Love',
 565: 'Daylight',
 566: 'Lone Star',
 567: 'Harriet the Spy',
 568: 'Phenomenon',
 569: 'Walking and Talking',
 570: "She's the One",
 571: 'American Buffalo',
 572: 'Rendezvous in Paris',
 573: 'Alaska',
 574: 'Fled',
 575: 'Kazaam',
 576: 'Magic Hunter',
 577: 'Larger Than Life',
 578: 'Power 98',
 579: 'Two Deaths',
 580: 'Stefano Quantestorie',
 581: 'Death in the Garden',
 582: 'Hedd Wyn',
 583: 'Kaspar Hauser',
 584: 'Diebinnen',
 585: "Joe's Apartment",
 586: 'Stonewall',
 587: 'Ransom',
 588: 'High School High',
 589: 'Phat Beach',
 590: 'Foxfire',
 591: 'Chain Reaction',
 592: 'Matilda',
 593: 'Emma',
 594: 'House Arrest',
 595: 'Eyes Without a Face',
 596: 'Lotto Land',
 597: 'Flirt',
 598: 'Escape from L.A.',
 599: 'Cyclo',
 600: 'Basquiat',
 601: 'Tin Cup',
 602: 'Dingo',
 603: 'Every Other Weekend',
 604: 'Mille bolle blu',
 605: 'Crows and Sparrows',
 606: 'Manny & Lo',
 607: 'Small Faces',
 608: 'Bound',
 609: 'Carpool',
 610: 'Death in Brunswick',
 611: 'Kansas City',
 612: "Gone Fishin'",
 613: "Lover's Knot",
 614: 'Shadow of Angels',
 615: 'Killer: A Journal of Murder',
 616: 'Nothing to Lose',
 617: 'Girls Town',
 618: 'Bye-Bye',
 619: 'First Kid',
 620: 'Sweet Nothing',
 621: 'Bogus',
 622: 'Bulletproof',
 623: 'Talk of Angels',
 624: '1-900',
 625: 'Baton Rouge',
 626: 'Halloween: The Curse of Michael Myers',
 627: 'Twelfth Night',
 628: 'Mother Night',
 629: 'Liebelei',
 630: 'Wild Reeds',
 631: 'For Whom the Bell Tolls',
 632: "Singin' in the Rain",
 633: 'Funny Face',
 634: "Breakfast at Tiffany's",
 635: 'Vertigo',
 636: 'Rear Window',
 637: 'It Happened One Night',
 638: 'Gaslight',
 639: 'North by Northwest',
 640: 'Some Like It Hot',
 641: 'Charade',
 642: 'Casablanca',
 643: 'My Fair Lady',
 644: 'Sabrina',
 645: 'Roman Holiday',
 646: 'Meet Me in St. Louis',
 647: 'Gone with the Wind',
 648: 'My Favorite Year',
 649: 'Citizen Kane',
 650: '2001: A Space Odyssey',
 651: 'Golden Earrings',
 652: 'All About Eve',
 653: 'Rebecca',
 654: 'Foreign Correspondent',
 655: 'Notorious',
 656: 'Spellbound',
 657: 'To Catch a Thief',
 658: 'Father of the Bride',
 659: 'Ninotchka',
 660: 'Love in the Afternoon',
 661: 'Gigi',
 662: 'Laura',
 663: 'Lost Horizon',
 664: 'Top Hat',
 665: 'To Be or Not to Be',
 666: 'My Man Godfrey',
 667: 'Giant',
 668: 'East of Eden',
 669: 'His Girl Friday',
 670: 'Around the World in 80 Days',
 671: "It's a Wonderful Life",
 672: 'Mr. Smith Goes to Washington',
 673: 'Bringing Up Baby',
 674: 'Penny Serenade',
 675: 'Lady of Burlesque',
 676: 'Of Human Bondage',
 677: 'Angel on My Shoulder',
 678: 'Little Lord Fauntleroy',
 679: 'They Made Me a Criminal',
 680: 'Angel and the Badman',
 681: 'Night of the Living Dead',
 682: 'Beat the Devil',
 683: 'Cat on a Hot Tin Roof',
 684: 'Meet John Doe',
 685: 'Algiers',
 686: 'Something to Sing About',
 687: 'Moonlight Murder',
 688: 'Nothing Personal',
 689: 'Dangerous Ground',
 690: 'Picnic',
 691: 'Madagascar Skin',
 692: 'Small Wonders',
 693: 'Fly Away Home',
 694: 'Bliss',
 695: 'Grace of My Heart',
 696: 'Maximum Risk',
 697: 'Michael Collins',
 698: 'Infinity',
 699: 'Big Night',
 700: 'Last Man Standing',
 701: 'Caught',
 702: 'Set It Off',
 703: '2 Days in the Valley',
 704: 'Curdled',
 705: "Ed's Next Move",
 706: 'Extreme Measures',
 707: 'D3: The Mighty Ducks',
 708: 'Davy Crockett, King of the Wild Frontier',
 709: 'Escape to Witch Mountain',
 710: 'Herbie Rides Again',
 711: 'Old Yeller',
 712: 'Pollyanna',
 713: 'Homeward Bound: The Incredible Journey',
 714: 'Swiss Family Robinson',
 715: 'That Darn Cat!',
 716: '20,000 Leagues Under the Sea',
 717: 'Cool Runnings',
 718: 'Angels in the Outfield',
 719: 'Cinderella',
 720: 'Winnie the Pooh and the Blustery Day',
 721: 'So Dear to My Heart',
 722: 'Robin Hood: Prince of Thieves',
 723: 'Mary Poppins',
 724: 'Dumbo',
 725: "Pete's Dragon",
 726: 'Bedknobs and Broomsticks',
 727: 'Alice in Wonderland',
 728: 'Freeway',
 729: 'Die Hard',
 730: 'Unhook the Stars',
 731: 'Synthetic Pleasures',
 732: 'Secrets & Lies',
 733: 'That Thing You Do!',
 734: 'To Gillian on Her 37th Birthday',
 735: 'Surviving Picasso',
 736: 'Love Is All There Is',
 737: 'Beautiful Thing',
 738: 'Looking for Richard',
 739: 'Trees Lounge',
 740: 'Normal Life',
 741: 'Get on the Bus',
 742: 'Shadow Conspiracy',
 743: 'Jude',
 744: 'Everyone Says I Love You',
 745: 'Bitter Sugar',
 746: 'Swingers',
 747: 'Sleepers',
 748: 'Johns',
 749: 'Aladdin and the King of Thieves',
 750: 'Shall We Dance?',
 751: 'Crossfire',
 752: 'Murder, My Sweet',
 753: 'Macao',
 754: 'For the Moment',
 755: 'Sleeper',
 756: 'Bananas',
 757: 'Victor/Victoria',
 758: 'Bonnie and Clyde',
 759: 'Dial M for Murder',
 760: 'Madame Butterfly',
 761: 'Dirty Dancing',
 762: 'Reservoir Dogs',
 763: 'Platoon',
 764: "Weekend at Bernie's",
 765: 'Basic Instinct',
 766: 'Glengarry Glen Ross',
 767: "Sophie's Choice",
 768: 'E.T. the Extra-Terrestrial',
 769: 'Days of Thunder',
 770: 'Top Gun',
 771: 'American Strays',
 772: 'Rebel Without a Cause',
 773: 'Children of the Corn IV: The Gathering',
 774: 'Loser',
 775: 'Bird of Prey',
 776: 'Microcosmos',
 777: 'Palookaville',
 778: 'Sleepover',
 779: 'Drunks',
 780: 'Glory Daze',
 781: 'On Golden Pond',
 782: 'Drop Dead Fred',
 783: 'Escape from New York',
 784: 'Jean de Florette',
 785: 'Manon of the Spring',
 786: 'Johnny 100 Pesos',
 787: 'Private Benjamin',
 788: 'Monty Python and the Holy Grail',
 789: 'Hustler White',
 790: 'Dadetown',
 791: 'Everything Relative',
 792: 'Get Over It',
 793: 'Three Lives and Only One Death',
 794: 'Snowriders',
 795: "Curtis's Charm",
 796: 'When We Were Kings',
 797: 'Faust',
 798: 'He Walked by Night',
 799: 'Raw Deal',
 800: 'T-Men',
 801: 'Here Comes Cookie',
 802: 'Six of a Kind',
 803: 'Mina Tannenbaum',
 804: 'Dear God',
 805: 'Bad Moon',
 806: 'American Dream',
 807: 'Best of the Best 3: No Turning Back',
 808: 'Bob Roberts',
 809: 'Cinema Paradiso',
 810: 'Delicatessen',
 811: 'Enchanted April',
 812: 'Paths of Glory',
 813: 'Hear My Song',
 814: 'Mediterraneo',
 815: 'Sex, Lies, and Videotape',
 816: 'Passion Fish',
 817: 'Strictly Ballroom',
 818: 'Tie Me Up! Tie Me Down!',
 819: 'Madonna: Truth or Dare',
 820: "One Flew Over the Cuckoo's Nest",
 821: 'Up in Smoke',
 822: 'Raiders of the Lost Ark',
 823: 'Brazil',
 824: 'Aliens',
 825: '12 Angry Men',
 826: 'Lawrence of Arabia',
 827: 'To Kill a Mockingbird',
 828: 'Apocalypse Now',

In [ ]:
id2movie

{'Toy Story': 0,
 'Jumanji': 1,
 'Grumpier Old Men': 2,
 'Waiting to Exhale': 3,
 'Father of the Bride Part II': 4,
 'Heat': 5,
 'Sabrina': 644,
 'Tom and Huck': 7,
 'Sudden Death': 8,
 'GoldenEye': 9,
 'Dracula: Dead and Loving It': 10,
 'Balto': 11,
 'Nixon': 12,
 'Cutthroat Island': 13,
 'Casino': 14,
 'Sense and Sensibility': 15,
 'Four Rooms': 16,
 'Ace Ventura: When Nature Calls': 17,
 'Money Train': 18,
 'Get Shorty': 19,
 'Copycat': 20,
 'Assassins': 21,
 'Powder': 22,
 'Leaving Las Vegas': 23,
 'Othello': 1920,
 'Now and Then': 25,
 'Persuasion': 26,
 'Shanghai Triad': 27,
 'Dangerous Minds': 28,
 'Twelve Monkeys': 29,
 'Wings of Courage': 30,
 'Babe': 31,
 'Carrington': 32,
 'Dead Man Walking': 33,
 'Across the Sea of Time': 34,
 'It Takes Two': 35,
 'Clueless': 36,
 'Cry, the Beloved Country': 37,
 'Richard III': 38,
 'Dead Presidents': 39,
 'Restoration': 40,
 'Mortal Kombat': 41,
 'To Die For': 42,
 'Seven': 43,
 'Pocahontas': 44,
 'When Night Is Falling': 45,
 'Guardian Angel': 46,
 'Mighty Aphrodite': 47,
 'Lamerica': 48,
 'Georgia': 49,
 'Kids of the Round Table': 50,
 'Home for the Holidays': 51,
 'Eye for an Eye': 52,
 "Mr. Holland's Opus": 53,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood": 54,
 'Bio-Dome': 55,
 'Lawnmower Man 2: Beyond Cyberspace': 56,
 'Two Bits': 57,
 'French Twist': 58,
 'Friday': 59,
 'From Dusk Till Dawn': 60,
 'Fair Game': 61,
 'Kicking and Screaming': 62,
 'Bed of Roses': 63,
 'Big Bully': 64,
 'Screamers': 65,
 'Nico Icon': 66,
 "Antonia's Line": 67,
 'Once Upon a Time... When We Were Colored': 68,
 'Last Summer in the Hamptons': 69,
 'Angels and Insects': 70,
 'White Squall': 71,
 'Dunston Checks In': 72,
 'Black Sheep': 73,
 'Nick of Time': 74,
 'Mary Reilly': 75,
 'Vampire in Brooklyn': 76,
 'Beautiful Girls': 77,
 'Broken Arrow': 78,
 'Shopping': 79,
 'Heidi Fleiss: Hollywood Madam': 80,
 'City Hall': 81,
 'Bottle Rocket': 82,
 'Mr. Wrong': 83,
 'Unforgettable': 84,
 'Happy Gilmore': 85,
 'Nobody Loves Me': 86,
 'Muppet Treasure Island': 87,
 'Catwalk': 88,
 'Headless Body in Topless Bar': 89,
 'Braveheart': 90,
 'Taxi Driver': 91,
 'Rumble in the Bronx': 92,
 'Before and After': 93,
 "Margaret's Museum": 94,
 'Happiness Is in the Field': 95,
 'Anne Frank Remembered': 96,
 'If Lucy Fell': 97,
 'Race the Sun': 98,
 'Boomerang': 99,
 'Chungking Express': 100,
 "Jupiter's Wife": 101,
 'Pie in the Sky': 102,
 'Angela': 103,
 'Frankie Starlight': 104,
 'Jade': 105,
 'Nueba Yol': 106,
 'Sonic Outlaws': 107,
 'Down Periscope': 108,
 'From the Journals of Jean Seberg': 109,
 'Man of the Year': 110,
 'Target': 111,
 'Shadows': 112,
 'Bad Boys': 113,
 'Amateur': 114,
 'Apollo 13': 115,
 'Rob Roy': 116,
 'Batman Forever': 117,
 'Beyond Rangoon': 118,
 'Blue in the Face': 119,
 'Canadian Bacon': 120,
 'Casper': 121,
 'Clockers': 122,
 'Congo': 123,
 'Crimson Tide': 124,
 'Crumb': 125,
 'Desperado': 126,
 'Devil in a Blue Dress': 127,
 'Die Hard: With a Vengeance': 128,
 'Feast of July': 129,
 'First Knight': 130,
 'Hackers': 131,
 'Jeffrey': 132,
 'Johnny Mnemonic': 133,
 'Judge Dredd': 134,
 'Jury Duty': 135,
 'Kids': 136,
 'Living in Oblivion': 137,
 'Lord of Illusions': 138,
 'Love & Human Remains': 139,
 'Mad Love': 140,
 'Mallrats': 141,
 'Mighty Morphin Power Rangers: The Movie': 142,
 'Moonlight and Valentino': 143,
 'Mute Witness': 144,
 'Nadja': 145,
 'Nine Months': 146,
 'Party Girl': 147,
 'Reckless': 148,
 'Safe': 149,
 'Showgirls': 150,
 'Smoke': 151,
 'Something to Talk About': 152,
 'Species': 153,
 'Strange Days': 154,
 'Three Wishes': 155,
 'Total Eclipse': 156,
 'To Wong Foo, Thanks for Everything! Julie Newmar': 157,
 'Under Siege 2: Dark Territory': 158,
 'Unstrung Heroes': 159,
 'Unzipped': 160,
 'Waterworld': 161,
 "White Man's Burden": 162,
 'Wild Bill': 163,
 'Bushwhacked': 164,
 'Before the Rain': 165,
 'Before Sunrise': 166,
 'Billy Madison': 167,
 'Boys on the Side': 168,
 'Castle Freak': 169,
 'Circle of Friends': 170,
 'Clerks': 171,
 'Don Juan DeMarco': 172,
 'Disclosure': 173,
 'Dream Man': 174,
 'Drop Zone': 175,
 'Destiny Turns on the Radio': 176,
 'Death and the Maiden': 177,
 'Dolores Claiborne': 178,
 'Eat Drink Man Woman': 179,
 'Exotica': 180,
 'Exit to Eden': 181,
 'Ed Wood': 182,
 'French Kiss': 183,
 'Forget Paris': 184,
 'Hideaway': 185,
 'Fluke': 186,
 'Gordy': 187,
 'Gumby: The Movie': 188,
 'Hoop Dreams': 189,
 'Heavenly Creatures': 190,
 'Houseguest': 191,
 'Immortal Beloved': 192,
 'Heavyweights': 193,
 'I.Q.': 194,
 'Interview with the Vampire': 195,
 'Jefferson in Paris': 196,
 'Junior': 197,
 'Just Cause': 198,
 'Kiss of Death': 199,
 'Little Women': 200,
 'Ladybird Ladybird': 201,
 'Like Water for Chocolate': 202,
 'Legends of the Fall': 203,
 'Major Payne': 204,
 'Little Odessa': 205,
 'Love Affair': 206,
 'Losing Isaiah': 207,
 "Mary Shelley's Frankenstein": 208,
 'Man of the House': 209,
 'Mixed Nuts': 210,
 'Milk Money': 211,
 'Miracle on 34th Street': 1625,
 'Miami Rhapsody': 213,
 'My Family': 214,
 'Murder in the First': 215,
 "Nobody's Fool": 216,
 'Nell': 217,
 'New Jersey Drive': 218,
 'New York Cop': 219,
 'Beyond Bedlam': 220,
 'Nina Takes a Lover': 221,
 'Natural Born Killers': 222,
 'Only You': 223,
 'Once Were Warriors': 224,
 'Outbreak': 225,
 'Pulp Fiction': 226,
 'Panther': 227,
 'Pushing Hands': 228,
 'Priest': 229,
 'Quiz Show': 230,
 'Picture Bride': 231,
 'Queen Margot': 232,
 'Roommates': 233,
 'Three Colors: Red': 234,
 'Three Colors: Blue': 235,
 'Three Colors: White': 236,
 'Red Firecracker, Green Firecracker': 237,
 'Rent-a-Kid': 238,
 'Relative Fear': 239,
 'Stuart Saves His Family': 240,
 'Stargate': 241,
 'Shallow Grave': 242,
 'Suture': 243,
 'Strawberry and Chocolate': 244,
 'Swimming with Sharks': 245,
 'To Live': 246,
 'Tank Girl': 247,
 'Star Trek: Generations': 248,
 'Tales from the Hood': 249,
 'Tom & Viv': 250,
 'Village of the Damned': 1734,
 'Tommy Boy': 252,
 'Vanya on 42nd Street': 253,
 "What's Eating Gilbert Grape": 254,
 'Virtuosity': 255,
 'While You Were Sleeping': 256,
 'Double Happiness': 257,
 "Muriel's Wedding": 258,
 'Ace Ventura: Pet Detective': 259,
 'Backbeat': 260,
 'Bitter Moon': 261,
 'Bullets Over Broadway': 262,
 'Clear and Present Danger': 263,
 'Corrina, Corrina': 264,
 'Crooklyn': 265,
 'Cobb': 266,
 'Forrest Gump': 267,
 'Four Weddings and a Funeral': 268,
 'Higher Learning': 269,
 'I Like It Like That': 270,
 'I Love Trouble': 271,
 'It Could Happen to You': 272,
 'Little Buddha': 273,
 'Maverick': 274,
 'Mrs. Parker and the Vicious Circle': 275,
 'Reality Bites': 276,
 'Red Rock West': 277,
 'Safe Passage': 278,
 'Speed': 279,
 'Speechless': 280,
 'Timecop': 281,
 'True Lies': 282,
 'When a Man Loves a Woman': 283,
 'Wolf': 284,
 'Wyatt Earp': 285,
 'Bad Company': 286,
 'S.F.W.': 287,
 "Jason's Lyric": 288,
 'Street Fighter': 289,
 'Coldblooded': 290,
 'Desert Winds': 291,
 'Fall Time': 292,
 'Frank and Ollie': 293,
 'Girl in the Cadillac': 294,
 'Homage': 295,
 'Mirage': 296,
 'Open Season': 297,
 'Brother Minister: The Assassination of Malcolm X': 298,
 'Federal Hill': 299,
 'In the Mouth of Madness': 300,
 '8 Seconds': 301,
 'Above the Rim': 302,
 'Addams Family Values': 303,
 'Airheads': 304,
 'Another Stakeout': 305,
 'Bad Girls': 306,
 'Barcelona': 307,
 'Being Human': 308,
 'Beverly Hills Cop III': 309,
 'Black Beauty': 310,
 'Blink': 311,
 'Blown Away': 312,
 'Blue Chips': 313,
 'Blue Sky': 314,
 'Body Snatchers': 315,
 'Boxing Helena': 316,
 'Cabin Boy': 317,
 'Calendar Girl': 318,
 "Carlito's Way": 319,
 "City Slickers II: The Legend of Curly's Gold": 320,
 'Clean Slate': 497,
 'Cliffhanger': 322,
 'Coneheads': 323,
 'Color of Night': 324,
 'Dangerous Game': 325,
 'Dave': 326,
 'Dazed and Confused': 327,
 'Demolition Man': 328,
 'Even Cowgirls Get the Blues': 329,
 'Fatal Instinct': 330,
 'Farewell My Concubine': 331,
 'Fearless': 332,
 'Fear of a Black Hat': 333,
 'With Honors': 334,
 'Flesh and Bone': 335,
 "Widows' Peak": 336,
 'For Love or Money': 337,
 'Free Willy': 338,
 'Fresh': 339,
 'Geronimo: An American Legend': 340,
 'Getting Even with Dad': 341,
 'Go Fish': 342,
 'Guilty as Sin': 343,
 'Hard Target': 344,
 'Heaven & Earth': 345,
 'Hot Shots! Part Deux': 346,
 'Live Nude Girls': 347,
 'House Party 3': 348,
 "I'll Do Anything": 349,
 'In the Army Now': 350,
 'In the Line of Fire': 351,
 'In the Name of the Father': 352,
 'Jimmy Hollywood': 353,
 'Judgment Night': 354,
 'Jurassic Park': 355,
 'Kalifornia': 356,
 'Killing Zoe': 357,
 'King of the Hill': 358,
 'Lassie': 359,
 'Last Action Hero': 360,
 'Lightning Jack': 361,
 'M. Butterfly': 362,
 'Made in America': 363,
 'Malice': 364,
 'Manhattan Murder Mystery': 365,
 'Menace II Society': 366,
 'Executive Decision': 367,
 'In the Realm of the Senses': 368,
 'What Happened Was...': 369,
 'Much Ado About Nothing': 370,
 'Mr. Jones': 371,
 'Mr. Wonderful': 372,
 'Mrs. Doubtfire': 373,
 'Naked': 374,
 'No Escape': 375,
 'North': 376,
 'Orlando': 377,
 'Philadelphia': 378,
 'Poetic Justice': 379,
 'Radioland Murders': 380,
 'Renaissance Man': 381,
 'Rising Sun': 382,
 'Robin Hood: Men in Tights': 383,
 'Romeo Is Bleeding': 384,
 'Romper Stomper': 385,
 'Ruby in Paradise': 386,
 'Rudy': 387,
 'Savage Nights': 388,
 "Schindler's List": 389,
 'Searching for Bobby Fischer': 390,
 'Second Best': 391,
 'Serial Mom': 392,
 'Shadowlands': 393,
 'Short Cuts': 394,
 'Sirens': 395,
 'Six Degrees of Separation': 396,
 'Sleepless in Seattle': 397,
 'Sliver': 398,
 'Blade Runner': 399,
 'Son in Law': 400,
 'So I Married an Axe Murderer': 401,
 'Striking Distance': 402,
 'Super Mario Bros.': 403,
 'Surviving the Game': 404,
 'Terminal Velocity': 405,
 'Threesome': 406,
 'Tombstone': 407,
 'Trial by Jury': 408,
 'True Romance': 409,
 'Mamma Roma': 410,
 'Paris, France': 411,
 'Killer': 412,
 'Welcome to the Dollhouse': 413,
 'Germinal': 414,
 'Chasers': 415,
 'Cronos': 416,
 'Naked in New York': 417,
 'Kika': 418,
 'Bhaji on the Beach': 419,
 'Little Big League': 420,
 'Foreign Student': 421,
 'Ciao, Professore!': 422,
 'Spanking the Monkey': 423,
 'Andre': 424,
 'Princess Caraboo': 425,
 'Dear Diary': 426,
 "I Don't Want to Talk About It": 427,
 'Home Alone': 428,
 'Ghost': 429,
 'Aladdin': 430,
 'Terminator 2: Judgment Day': 431,
 'Dances with Wolves': 432,
 'Tough and Deadly': 433,
 'Batman': 434,
 'Snow White and the Seven Dwarfs': 435,
 'Beauty and the Beast': 436,
 'Pinocchio': 437,
 'Pretty Woman': 438,
 'Window to Paris': 439,
 'Love and a .45': 440,
 'One Fine Day': 441,
 'Candyman: Farewell to the Flesh': 442,
 'Century': 443,
 'Fargo': 444,
 'Homeward Bound II: Lost in San Francisco': 445,
 'Heavy Metal': 446,
 'Hellraiser: Bloodline': 447,
 'Jane Eyre': 448,
 'Loaded': 449,
 'Bread and Chocolate': 450,
 'Two Much': 451,
 'Ed': 452,
 'Scream of Stone': 453,
 'My Favorite Season': 454,
 'Condition Red': 455,
 'Primal Fear': 456,
 'Rude': 457,
 'Carried Away': 458,
 'All Dogs Go to Heaven 2': 459,
 'Land and Freedom': 460,
 'Denise Calls Up': 461,
 'Theodore Rex': 462,
 'Frisk': 463,
 'Sgt. Bilko': 464,
 'Girl 6': 465,
 'Diabolique': 466,
 'Little Indian, Big City': 467,
 'Roula': 468,
 'Happy Weekend': 469,
 'Courage Under Fire': 470,
 'Mission: Impossible': 471,
 'Cold Fever': 472,
 'Moll Flanders': 473,
 '301, 302': 474,
 'Und keiner weint mir nach': 475,
 'Eddie': 476,
 'Yankee Zulu': 477,
 "Billy's Holiday": 478,
 'Purple Noon': 479,
 'August': 480,
 'James and the Giant Peach': 481,
 'Fear': 482,
 'Kids in the Hall: Brain Candy': 483,
 'Faithful': 484,
 'Underground': 485,
 'All Things Fair': 486,
 'Pather Panchali': 487,
 'Aparajito': 488,
 'Mystery Science Theater 3000: The Movie': 489,
 'Tarantella': 490,
 'Space Jam': 491,
 'Barbarella': 492,
 'Hostile Intentions': 493,
 'They Bite': 494,
 'Some Folks Call It a Sling Blade': 495,
 'Alphaville': 496,
 'Tigrero: A Film That Was Never Made': 498,
 'Windows': 499,
 "It's My Party": 500,
 'Country Life': 501,
 'Operation Dumbo Drop': 502,
 'Mrs. Winterbourne': 503,
 'Solo': 504,
 'True Crime': 1741,
 'Butterfly Kiss': 506,
 'Feeling Minnesota': 507,
 'Delta of Venus': 508,
 'To Cross the Rubicon': 509,
 'Angus': 510,
 'Faces': 511,
 'Boys': 512,
 'Cosi': 513,
 'Sunset Park': 514,
 'Mulholland Falls': 515,
 'Oliver & Company': 516,
 'Celtic Pride': 517,
 'Flipper': 518,
 'Captives': 519,
 'Of Love and Shadows': 520,
 'Dead Man': 521,
 'Switchblade Sisters': 522,
 'Mouth to Mouth': 523,
 'Multiplicity': 524,
 'Two Friends': 525,
 'Last Dance': 526,
 'Cold Comfort Farm': 527,
 'Institute Benjamenta, or This Dream People Call Human Life': 528,
 "Heaven's Prisoners": 529,
 'Original Gangstas': 530,
 'Cemetery Man': 531,
 'Twister': 532,
 'Barb Wire': 533,
 'Ghost in the Shell': 534,
 'Thinner': 535,
 'Spy Hard': 536,
 'Brothers in Trouble': 537,
 'Force of Evil': 538,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb': 539,
 'Careful': 540,
 'Gold Diggers: The Secret of Bear Mountain': 541,
 'Kim': 542,
 'Carmen Miranda: Bananas Is My Business': 543,
 'Ashes of Time': 544,
 'Maya Lin: A Strong Clear Vision': 545,
 'Stalingrad': 546,
 'Striptease': 547,
 'Heavy': 548,
 'Jack': 549,
 'I Shot Andy Warhol': 550,
 "Someone Else's America": 551,
 'Quartier Mozart': 552,
 'Touki Bouki': 553,
 'Spirits of the Dead': 554,
 'Babyfever': 555,
 'Trainspotting': 556,
 'Independence Day': 557,
 'Stealing Beauty': 558,
 'Kingpin': 559,
 'Eraser': 560,
 'An Unforgettable Summer': 561,
 'My Life and Times With Antonin Artaud': 562,
 'Midnight Dancers': 563,
 'Somebody to Love': 564,
 'Daylight': 565,
 'Lone Star': 566,
 'Harriet the Spy': 567,
 'Phenomenon': 568,
 'Walking and Talking': 569,
 "She's the One": 570,
 'American Buffalo': 571,
 'Rendezvous in Paris': 572,
 'Alaska': 573,
 'Fled': 574,
 'Kazaam': 575,
 'Magic Hunter': 576,
 'Larger Than Life': 577,
 'Power 98': 578,
 'Two Deaths': 579,
 'Stefano Quantestorie': 580,
 'Death in the Garden': 581,
 'Hedd Wyn': 582,
 'Kaspar Hauser': 583,
 'Diebinnen': 584,
 "Joe's Apartment": 585,
 'Stonewall': 586,
 'Ransom': 587,
 'High School High': 588,
 'Phat Beach': 589,
 'Foxfire': 590,
 'Chain Reaction': 591,
 'Matilda': 592,
 'Emma': 593,
 'House Arrest': 594,
 'Eyes Without a Face': 595,
 'Lotto Land': 596,
 'Flirt': 597,
 'Escape from L.A.': 598,
 'Cyclo': 599,
 'Basquiat': 600,
 'Tin Cup': 601,
 'Dingo': 602,
 'Every Other Weekend': 603,
 'Mille bolle blu': 604,
 'Crows and Sparrows': 605,
 'Manny & Lo': 606,
 'Small Faces': 607,
 'Bound': 608,
 'Carpool': 609,
 'Death in Brunswick': 610,
 'Kansas City': 611,
 "Gone Fishin'": 612,
 "Lover's Knot": 613,
 'Shadow of Angels': 614,
 'Killer: A Journal of Murder': 615,
 'Nothing to Lose': 616,
 'Girls Town': 617,
 'Bye-Bye': 618,
 'First Kid': 619,
 'Sweet Nothing': 620,
 'Bogus': 621,
 'Bulletproof': 622,
 'Talk of Angels': 623,
 '1-900': 624,
 'Baton Rouge': 625,
 'Halloween: The Curse of Michael Myers': 626,
 'Twelfth Night': 627,
 'Mother Night': 628,
 'Liebelei': 629,
 'Wild Reeds': 630,
 'For Whom the Bell Tolls': 631,
 "Singin' in the Rain": 632,
 'Funny Face': 633,
 "Breakfast at Tiffany's": 634,
 'Vertigo': 635,
 'Rear Window': 636,
 'It Happened One Night': 637,
 'Gaslight': 638,
 'North by Northwest': 639,
 'Some Like It Hot': 640,
 'Charade': 641,
 'Casablanca': 642,
 'My Fair Lady': 643,
 'Roman Holiday': 645,
 'Meet Me in St. Louis': 646,
 'Gone with the Wind': 647,
 'My Favorite Year': 648,
 'Citizen Kane': 649,
 '2001: A Space Odyssey': 650,
 'Golden Earrings': 651,
 'All About Eve': 652,
 'Rebecca': 653,
 'Foreign Correspondent': 654,
 'Notorious': 655,
 'Spellbound': 656,
 'To Catch a Thief': 657,
 'Father of the Bride': 658,
 'Ninotchka': 659,
 'Love in the Afternoon': 660,
 'Gigi': 661,
 'Laura': 662,
 'Lost Horizon': 663,
 'Top Hat': 664,
 'To Be or Not to Be': 665,
 'My Man Godfrey': 2096,
 'Giant': 667,
 'East of Eden': 668,
 'His Girl Friday': 669,
 'Around the World in 80 Days': 670,
 "It's a Wonderful Life": 671,
 'Mr. Smith Goes to Washington': 672,
 'Bringing Up Baby': 673,
 'Penny Serenade': 674,
 'Lady of Burlesque': 675,
 'Of Human Bondage': 676,
 'Angel on My Shoulder': 677,
 'Little Lord Fauntleroy': 678,
 'They Made Me a Criminal': 679,
 'Angel and the Badman': 680,
 'Night of the Living Dead': 681,
 'Beat the Devil': 682,
 'Cat on a Hot Tin Roof': 683,
 'Meet John Doe': 684,
 'Algiers': 685,
 'Something to Sing About': 686,
 'Moonlight Murder': 687,
 'Nothing Personal': 688,
 'Dangerous Ground': 689,
 'Picnic': 690,
 'Madagascar Skin': 691,
 'Small Wonders': 692,
 'Fly Away Home': 693,
 'Bliss': 694,
 'Grace of My Heart': 695,
 'Maximum Risk': 696,
 'Michael Collins': 697,
 'Infinity': 698,
 'Big Night': 699,
 'Last Man Standing': 700,
 'Caught': 701,
 'Set It Off': 702,
 '2 Days in the Valley': 703,
 'Curdled': 704,
 "Ed's Next Move": 705,
 'Extreme Measures': 706,
 'D3: The Mighty Ducks': 707,
 'Davy Crockett, King of the Wild Frontier': 708,
 'Escape to Witch Mountain': 709,
 'Herbie Rides Again': 710,
 'Old Yeller': 711,
 'Pollyanna': 712,
 'Homeward Bound: The Incredible Journey': 713,
 'Swiss Family Robinson': 714,
 'That Darn Cat!': 1003,
 '20,000 Leagues Under the Sea': 716,
 'Cool Runnings': 717,
 'Angels in the Outfield': 718,
 'Cinderella': 719,
 'Winnie the Pooh and the Blustery Day': 720,
 'So Dear to My Heart': 721,
 'Robin Hood: Prince of Thieves': 722,
 'Mary Poppins': 723,
 'Dumbo': 724,
 "Pete's Dragon": 725,
 'Bedknobs and Broomsticks': 726,
 'Alice in Wonderland': 727,
 'Freeway': 728,
 'Die Hard': 729,
 'Unhook the Stars': 730,
 'Synthetic Pleasures': 731,
 'Secrets & Lies': 732,
 'That Thing You Do!': 733,
 'To Gillian on Her 37th Birthday': 734,
 'Surviving Picasso': 735,
 'Love Is All There Is': 736,
 'Beautiful Thing': 737,
 'Looking for Richard': 738,
 'Trees Lounge': 739,
 'Normal Life': 740,
 'Get on the Bus': 741,
 'Shadow Conspiracy': 742,
 'Jude': 743,
 'Everyone Says I Love You': 744,
 'Bitter Sugar': 745,
 'Swingers': 746,
 'Sleepers': 747,
 'Johns': 748,
 'Aladdin and the King of Thieves': 749,
 'Shall We Dance?': 1054,
 'Crossfire': 751,
 'Murder, My Sweet': 752,
 'Macao': 753,
 'For the Moment': 754,
 'Sleeper': 755,
 'Bananas': 756,
 'Victor/Victoria': 757,
 'Bonnie and Clyde': 758,
 'Dial M for Murder': 759,
 'Madame Butterfly': 760,
 'Dirty Dancing': 761,
 'Reservoir Dogs': 762,
 'Platoon': 763,
 "Weekend at Bernie's": 764,
 'Basic Instinct': 765,
 'Glengarry Glen Ross': 766,
 "Sophie's Choice": 767,
 'E.T. the Extra-Terrestrial': 768,
 'Days of Thunder': 769,
 'Top Gun': 770,
 'American Strays': 771,
 'Rebel Without a Cause': 772,
 'Children of the Corn IV: The Gathering': 773,
 'Loser': 2450,
 'Bird of Prey': 775,
 'Microcosmos': 776,
 'Palookaville': 777,
 'Sleepover': 778,
 'Drunks': 779,
 'Glory Daze': 780,
 'On Golden Pond': 781,
 'Drop Dead Fred': 782,
 'Escape from New York': 783,
 'Jean de Florette': 784,
 'Manon of the Spring': 785,
 'Johnny 100 Pesos': 786,
 'Private Benjamin': 787,
 'Monty Python and the Holy Grail': 788,
 'Hustler White': 789,
 'Dadetown': 790,
 'Everything Relative': 791,
 'Get Over It': 792,
 'Three Lives and Only One Death': 793,
 'Snowriders': 794,
 "Curtis's Charm": 795,
 'When We Were Kings': 796,
 'Faust': 797,
 'He Walked by Night': 798,
 'Raw Deal': 799,
 'T-Men': 800,
 'Here Comes Cookie': 801,
 'Six of a Kind': 802,
 'Mina Tannenbaum': 803,
 'Dear God': 804,
 'Bad Moon': 805,
 'American Dream': 806,
 'Best of the Best 3: No Turning Back': 807,
 'Bob Roberts': 808,
 'Cinema Paradiso': 809,
 'Delicatessen': 810,
 'Enchanted April': 811,
 'Paths of Glory': 812,
 'Hear My Song': 813,
 'Mediterraneo': 814,
 'Sex, Lies, and Videotape': 815,
 'Passion Fish': 816,
 'Strictly Ballroom': 817,
 'Tie Me Up! Tie Me Down!': 818,
 'Madonna: Truth or Dare': 819,
 "One Flew Over the Cuckoo's Nest": 820,
 'Up in Smoke': 821,
 'Raiders of the Lost Ark': 822,
 'Brazil': 823,
 'Aliens': 824,
 '12 Angry Men': 825,
 'Lawrence of Arabia': 826,
 'To Kill a Mockingbird': 827,
 'Apocalypse Now': 828,

In [ ]:
# Toy Story의 id 추출
idx = id2movie['Toy Story'] # Toy Story : 0번 인덱스
sim_scores = [(i, c) for i, c in enumerate(cosine_matrix[idx]) if i != idx] # 자기 자신을 제외한 영화들의 유사도 및 인덱스를 추출
sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse=True) # 유사도가 높은 순서대로 정렬
sim_scores[0:10] # 상위 10개의 인덱스와 유사도를 추출

[(2108, 0.4307822073084796),
 (772, 0.1660670340370092),
 (2143, 0.145095430011987),
 (364, 0.1405297418052926),
 (1385, 0.13624075366307076),
 (337, 0.11898561396522282),
 (1533, 0.1067728669872957),
 (2276, 0.10365129078035425),
 (2203, 0.09753591042961841),
 (1354, 0.08567801391582365)]

In [ ]:
# 인덱스를 Movie Title로 변환
sim_scores = [(movie2id[i], score) for i, score in sim_scores[0:30]]
sim_scores

[('Toy Story 2', 0.4307822073084796),
 ('Rebel Without a Cause', 0.1660670340370092),
 ('Man on the Moon', 0.145095430011987),
 ('Malice', 0.1405297418052926),
 ('Condorman', 0.13624075366307076),
 ('For Love or Money', 0.11898561396522282),
 ('Indecent Proposal', 0.1067728669872957),
 ('Bound for Glory', 0.10365129078035425),
 ("White Men Can't Jump", 0.09753591042961841),
 ("Child's Play 3", 0.08567801391582365),
 ('Radio Days', 0.0834858975130059),
 ('Window to Paris', 0.07808395765430066),
 ('Funny Farm', 0.07784485653742255),
 ('I Shot Andy Warhol', 0.07721830363477511),
 ('Mute Witness', 0.06374194834345086),
 ('Firestarter', 0.0636830549820565),
 ('Love! Valour! Compassion!', 0.06018735576749003),
 ('Dirty Work', 0.059132634013112514),
 ('Bringing Up Baby', 0.0566974071715919),
 ('Stepmom', 0.05540994987147116),
 ('Zachariah', 0.05378807220390342),
 ('Singles', 0.05169443233521159),
 ('Carried Away', 0.04910882416738239),
 ('Four Rooms', 0.04849504550720432),
 ('Bride of Re-Animator', 0.04820913958681726),
 ('Wild Man Blues', 0.04807621378812807),
 ('Small Soldiers', 0.04604328457903695),
 ('Safe Passage', 0.045866017784148706),
 ('Pretty Woman', 0.045779570538925084),
 ('Vagabond', 0.045240684464942664)]

In [ ]:
#Check EDA Notebook for how and why I got these indices.
md = md.replace([np.inf, -np.inf], np.nan)  # 무한대 값을 NaN으로 변환
md['id'] = md['id'].fillna(0).astype(int) # NaN값을 0으로 대체

md['id'] = md['id'].astype('int')

In [ ]:
smd = md

In [ ]:
t_data = smd

**영화 내용 기반 추천 시스템(Movie Description Based Recommender)**

In [ ]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

smd['description'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: description, dtype: object

In [ ]:
# n-그램:단어장 생성에 사용할 토큰의 크기를 결정한다. 모노그램(1-그램)은 토큰 하나만 단어로 사용하며 바이그램(2-그램)은 두 개의 연결된 토큰을 하나의 단어로 사용한다.
# Stop Words:문서에서 단어장을 생성할 때 무시할 수 있는 단어를 말한다. 보통 영어의 관사나 접속사, 한국어의 조사 등이 여기에 해당한다. stop_words 인수로 조절할 수 있다.
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [ ]:
print(tfidf_matrix[10])

In [ ]:
tfidf_matrix.shape

(3883, 92104)

**코사인 유사도(Cosine Similarity)**

In [ ]:
# linear_kernel는 두 벡터의 dot product 이다.
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
cosine_sim[0]

array([1.        , 0.00823448, 0.        , ..., 0.        , 0.        ,
       0.        ])

In [ ]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

print(titles.head(), indices.head())

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
Name: title, dtype: object title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [ ]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [ ]:
get_recommendations('Toy Story').head(20)

3045              Toy Story 2
3105          Man on the Moon
1087    Rebel Without a Cause
1972                Condorman
449         For Love or Money
1224                Manhattan
486                    Malice
2363                  Stepmom
2200        Indecent Proposal
3194     White Men Can't Jump
1061                  Sleeper
594           Window to Paris
2681               Radio Days
756        I Shot Andy Warhol
1924           Child's Play 3
3302          Bound for Glory
593              Pretty Woman
2727               Funny Farm
1285             Paris, Texas
3639              Firestarter
Name: title, dtype: object

**메타 데이터 기반 추천시스템(Metadata Based Recommender)**

In [ ]:
smd = md

In [ ]:
smd

,MovieID,title,year,id,genres,popularity,overview,tagline,vote_average,vote_count,cast,crew,keywords,wr,description
0,1,Toy Story,1995,862,"[Animation, Comedy, Family]",21.946943,"Led by Woody, Andy's toys live happily in his ...",0,4.146846,2077.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",3.681488,"Led by Woody, Andy's toys live happily in his ..."
1,2,Jumanji,1995,8844,"[Adventure, Fantasy, Family]",17.015539,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,3.201141,701.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",2.937823,When siblings Judy and Peter discover an encha...
2,3,Grumpier Old Men,1995,15602,"[Romance, Comedy]",11.712900,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,3.016736,478.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",2.841801,A family wedding reignites the ancient feud be...
3,4,Waiting to Exhale,1995,31357,"[Comedy, Drama, Romance]",3.859495,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,2.729412,170.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...",2.757703,"Cheated on, mistreated and stepped on, the wom..."
4,5,Father of the Bride Part II,1995,11862,[Comedy],8.387519,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,3.006757,296.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",2.815981,Just when George Banks has recovered from his ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents,2000,1597,"[Comedy, Romance]",14.178281,"Greg Focker is ready to marry his girlfriend, ...",First comes love. Then comes the interrogation.,3.635731,862.0,"[{'cast_id': 1, 'character': 'Gaylord ""Greg"" F...","[{'credit_id': '52fe4303c3a36847f8033ca9', 'de...","[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...",3.155754,"Greg Focker is ready to marry his girlfriend, ..."
3879,3949,Requiem for a Dream,2000,641,"[Crime, Drama]",6.874828,The hopes and dreams of four ambitious people ...,0,4.115132,304.0,"[{'cast_id': 29, 'character': 'Sara Goldfarb',...","[{'credit_id': '52fe4263c3a36847f801a72b', 'de...","[{'id': 1803, 'name': 'drug addiction'}, {'id'...",3.065684,The hopes and dreams of four ambitious people ...
3880,3950,Tigerland,2000,10687,"[Drama, War]",5.878885,A group of recruits go through Advanced Infant...,The system wanted them to become soldiers. One...,3.666667,54.0,"[{'cast_id': 1, 'character': 'Pvt. Roland Bozz...","[{'credit_id': '52fe43a39251416c75018317', 'de...","[{'id': 10183, 'name': 'independent film'}, {'...",2.806454,A group of recruits go through Advanced Infant...
3881,3951,Two Family House,2000,63956,"[Drama, Romance]",0.265689,Buddy Visalo (Michael Rispoli) is a factory wo...,The only way to find out what you love is to r...,3.900000,40.0,"[{'cast_id': 1, 'character': 'Buddy Visalo', '...","[{'credit_id': '52fe46c2c3a368484e0a2471', 'de...",[],2.803971,Buddy Visalo (Michael Rispoli) is a factory wo...
3882,3952,"Contender, The",2000,0,[],NaN,NaN,,3.780928,388.0,NaN,NaN,NaN,3.036842,

**도메인 지식**

In [ ]:
import ast

smd['cast'] = smd['cast'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
smd['crew'] = smd['crew'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
smd['keywords'] = smd['keywords'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

In [ ]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [ ]:
smd['director'] = smd['crew'].apply(get_director)

In [ ]:
# 출연진 중 상위에 노출되는 3명만 추출
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >= 3 else x)

In [ ]:
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [ ]:
# 출연진의 이름에서 공백 삭제
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [ ]:
# 감독의 이름에서 공백 삭제 및 3번 언급?
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x, x, x])

**키워드(Keywords)**

In [ ]:
s = smd.apply(lambda x: pd.Series(x['keywords']), axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [ ]:
s = s.value_counts()
s[:5]

independent film    228
woman director      171
murder              121
suspense             82
based on novel       80
Name: keyword, dtype: int64

In [ ]:
# 2번 이상 등장한 키워드만 추출
s = s[s > 1]

In [ ]:
# 어근 추출을 통해 동일 의미&다른 형태의 단어(dogs&dog, imaging&image 등)를 동일한 단어로 인식
stemmer = SnowballStemmer('english')
print("dogs의 어근 : ", stemmer.stem('dogs'))
print("dog의 어근 : ", stemmer.stem('dog'))

dogs의 어근 :  dog
dog의 어근 :  dog

In [ ]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [ ]:
# 키워드의 어근을 찾아서 공백 제거 후 세팅
smd['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [ ]:
# 키워드의 어근을 찾아서 공백 제거 후 세팅
smd['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [ ]:
smd['soup'] = smd['keywords'] + smd['cast'] + smd['director'] + smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))

In [ ]:
count = CountVectorizer(analyzer='word', ngram_range=(1,2), min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])

In [ ]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [ ]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [ ]:
get_recommendations('Toy Story').head(10)

3045                 Toy Story 2
3360           Creature Comforts
1017               Pete's Dragon
1756            Meet the Deedles
156                       Casper
700             Oliver & Company
3682                 Chicken Run
2225                        Antz
1018    Bedknobs and Broomsticks
1459            Cats Don't Dance
Name: title, dtype: object

In [ ]:
get_recommendations('Jumanji').head(10)

1985              Honey, I Shrunk the Kids
2432                           October Sky
3420                                  Hook
584                                Aladdin
996               Escape to Witch Mountain
1974    Darby O'Gill and the Little People
2022            Return from Witch Mountain
626                All Dogs Go to Heaven 2
1018              Bedknobs and Broomsticks
1851                        Small Soldiers
Name: title, dtype: object

**인기도와 평점(Popularity and Ratings)**

In [ ]:
def improved_recommendations(title):
    print(title)
    idx = indices[title]
    print(idx)
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    print(movie_indices)

    movies = smd.iloc[movie_indices][['title','vote_count','vote_average','year']]
#     print(movies)

    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull())]
#     print(qualified)
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    print(qualified)
    return qualified

In [ ]:
improved_recommendations('Toy Story')

Toy Story
0
[3045, 3360, 1017, 1756, 156, 700, 3682, 2225, 1018, 1459, 1029, 216, 1659, 2497, 3106, 3330, 667, 1490, 74, 245, 632, 856, 1099, 1967, 2838]
                         title  vote_count  vote_average  year        wr
3045               Toy Story 2        1585      4.218927  1999  3.637980
3106              Galaxy Quest        1728      3.771412  1999  3.389651
3682               Chicken Run        1329      3.879609  2000  3.386068
3360         Creature Comforts         274      4.335766  1990  3.087540
2225                      Antz         645      3.483721  1998  3.036566
1029        That Thing You Do!         528      3.481061  1996  3.002554
1018  Bedknobs and Broomsticks         319      3.479624  1971  2.929248
1017             Pete's Dragon         323      3.077399  1977  2.836329
156                     Casper         259      2.980695  1995  2.805444
667                  Space Jam         563      2.619893  1996  2.712626

                         title  vote_count  vote_average  year        wr
3045               Toy Story 2        1585      4.218927  1999  3.637980
3106              Galaxy Quest        1728      3.771412  1999  3.389651
3682               Chicken Run        1329      3.879609  2000  3.386068
3360         Creature Comforts         274      4.335766  1990  3.087540
2225                      Antz         645      3.483721  1998  3.036566
1029        That Thing You Do!         528      3.481061  1996  3.002554
1018  Bedknobs and Broomsticks         319      3.479624  1971  2.929248
1017             Pete's Dragon         323      3.077399  1977  2.836329
156                     Casper         259      2.980695  1995  2.805444
667                  Space Jam         563      2.619893  1996  2.712626

In [ ]:
improved_recommendations('Jumanji')

Jumanji
1
[1985, 2432, 3420, 584, 996, 1974, 2022, 626, 1018, 1851, 2018, 481, 2074, 3097, 1110, 1546, 2024, 1050, 1489, 542, 932, 1981, 2360, 2361, 1707]
                         title  vote_count  vote_average  year        wr
584                    Aladdin        1351      3.788305  1992  3.339244
2432               October Sky         588      4.137755  1999  3.255587
2018                 Peter Pan         594      3.659933  1953  3.086317
1546       Conan the Barbarian         572      3.421329  1982  2.994478
2074                    Legend         355      3.270423  1985  2.890533
3420                      Hook         722      3.018006  1991  2.866385
1985  Honey, I Shrunk the Kids        1045      2.933014  1989  2.847381
1851            Small Soldiers         364      2.810440  1998  2.774662
481           Last Action Hero         500      2.508000  1993  2.680332
542          Super Mario Bros.         350      1.874286  1993  2.540517

                         title  vote_count  vote_average  year        wr
584                    Aladdin        1351      3.788305  1992  3.339244
2432               October Sky         588      4.137755  1999  3.255587
2018                 Peter Pan         594      3.659933  1953  3.086317
1546       Conan the Barbarian         572      3.421329  1982  2.994478
2074                    Legend         355      3.270423  1985  2.890533
3420                      Hook         722      3.018006  1991  2.866385
1985  Honey, I Shrunk the Kids        1045      2.933014  1989  2.847381
1851            Small Soldiers         364      2.810440  1998  2.774662
481           Last Action Hero         500      2.508000  1993  2.680332
542          Super Mario Bros.         350      1.874286  1993  2.540517

## 평가지표 계산

In [ ]:
t_data

In [ ]:
b_movies = pd.read_csv('movies.csv', sep='::', names=['MovieID', 'Title', 'Genres'])

#따옴표 제거
b_movies['MovieID'] = b_movies['MovieID'].str.replace('"', '')
b_movies['Title'] = b_movies['Title'].str.replace('"', '')
b_movies['Genres'] = b_movies['Genres'].str.replace('"', '')

# 'MovieID' 열의 데이터 타입 변환
b_movies['MovieID'] = pd.to_numeric(b_movies['MovieID'], errors='coerce')
b_movies['MovieID'] = b_movies['MovieID'].astype(int)
b_movies

In [ ]:
b_movies['year'] = b_movies['Title'].str.extract(r'\((\d{4})\)')
b_movies['title'] = b_movies['Title'].str.replace(r"\(.*\)", "").str.strip()
b_movies = b_movies[['MovieID', 'title', 'year', 'Genres']]

In [ ]:
b_movies

In [ ]:
b_ratings = pd.read_csv('ratings.csv', sep='::', names=['UserID', 'MovieID', 'Rating', 'TimeStamp'])
b_ratings

In [ ]:
b_users = pd.read_csv('users.csv', sep='::', names=['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'])
b_users

In [ ]:
b_rat_user = pd.merge(b_ratings, b_users, on='UserID', how='left')
b_total = pd.merge(b_rat_user, b_movies, on='MovieID', how='left')
b_total = b_total[['UserID', 'MovieID', 'title', 'year', 'Genres', 'Rating', 'TimeStamp', 'Gender', 'Age', 'Occupation', 'Zip-code']]

In [ ]:
b_total

In [ ]:
b_total['TimeStamp'] = pd.to_datetime(b_total['TimeStamp'], unit='s')
b_total['Date'] = b_total['TimeStamp'].dt.date
b_total['Time'] = b_total['TimeStamp'].dt.time

In [ ]:
b_total = b_total[['UserID', 'MovieID', 'title', 'year', 'Genres', 'Rating', 'Date', 'Time', 'Gender', 'Age', 'Occupation', 'Zip-code']]
b_total

In [ ]:
b_total.info()

In [ ]:
User1 = b_total[b_total['UserID'] == 1]
User1 = User1.sort_values(by=['Rating', 'Date', 'Time'], ascending=[False, False, False])
User1

In [ ]:
User1.shape

In [ ]:
improved_recommendations('Pocahontas')

실제 본 영화와 추천영화 비교? 하는 ndcg & recall 계산